
body {
    background-color: gainsboro;
}

a {
    color: green;
    text-decoration: none;
}
input {
    width: 50%;
    border: 1px solid #555
    padding: 5px
}
.logo{
    color:blue;
    font-size: 30px;
}
